<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CYBER SECURITY </h1>
    <p> Cyber security is the application of technologies, processes, and controls to protect systems, networks, programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against the unauthorised exploitation of systems, networks, and technologies.</p>
    <figure>
    <img src="images (1).jpg" alt="cyber"></figure><figcaption>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim reprehenderit quia labore velit consequuntur possimus. Aliquam molestias aperiam illum illo porro! Possimus excepturi itaque maiores ex, reprehenderit facere, eaque dicta, ipsam nihil corrupti iure eligendi magni corporis alias dignissimos ratione et suscipit deleniti nesciunt explicabo? Asperiores excepturi quos aliquid libero officia vero optio! Incidunt optio earum dicta aut nam reprehenderit nulla neque alias porro veritatis, natus laboriosam qui debitis iure placeat atque nobis eaque numquam nihil quidem nemo autem?.</figcaption>
</body>
</html>