<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> BASIC TABLES</h1>  
  <table border="2px" cellpsdding="220px" cellspavcing="200px">
    
    <th>
    <tr>
        <th>s.no</th>
        <th>name</th> 
        <th>id no</th>
        <th>adress</th>
        <th>contact</th>
        <th>9am</th>
        <th>10am</th>
    </th>
    </tr>
    <tbody>
    <tr>
        <td>01</td>
        <td>hameed</td>
        <td>09099</td>
        <td>Islamabad</td>
        <td>0348</td>
    </tr>
    <tr>
        <td>02</td>
        <td>naveed</td>
        <td>08088</td>
        <td rowspan="2">karachi</td>
        <td>0345</td>
        </tr>
        <tr>
            <td>03</td>
            <td>ahsan</td>
            <td >7077</td>
            <td>0368</td>
        </tr>
        <tr>
            <td>04</td>
            <td>basit</td>
            <td>6066</td>
            <td>Lahore</td>
            <td>0322</td>
        </tr>
        <tr>
            <td>05</td>
            <td>basit</td>
            <td>6065</td>
            <td rowspan="2">karachi</td>
            <td>0356</td>
        </tr>
        <tr>
            <td>06</td>
            <td>basit</td>
            <td>6055</td>
            <td>0312</td>
        </tr>
        <tc>
            <td>07</td>
            <td colspan="2">science</td>
            <td>chemistry</td>
        </tc>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>


</body>
</html>