<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <center> <h1 style="background-color: yellow;">PERIODIC TABLE IN HTML</h1></center>
 <center>
  <table width="1000px">
    <tr>
        <td bgcolor="orange"> <font color="green">H<sup>1</sup></font></td>
        <td colspan="16"></td>
        <td bgcolor="white"> <font color="green">He<sup>2</sup></font></td>
        </tr>
        <tr>
            <td bgcolor="lightpink"> <font color="black">Le<sup>3</sup></font></td>
            <td bgcolor="lightblue"> <font color="black">Be<sup>4</sup></font></td>
            <td colspan="10"></td>
            <td bgcolor="brown"> <font color="black">B<sup>5</sup></font></td>
            <td bgcolor="orange"> <font color="black">C<sup>6</sup></font></td>
            <td bgcolor="orange"> <font color="green">N<sup>7</sup></font></td>
            <td bgcolor="orange"> <font color="green">O<sup>8</sup></font></td>
            <td bgcolor="white"> <font color="green">F<sup>9</sup></font></td>
            <td bgcolor="lightskyblue"> <font color="green">Ne<sup>10</sup></font></td>        
    </tr>
    <tr>
    <td bgcolor="lightpink"> <font color="black">Na<sup>11</sup></font></td>
    <td bgcolor="lightblue"> <font color="black">Mg<sup>12</sup></font></td>
    <td colspan="10"></td>
    <td bgcolor="lightgreen"> <font color="green">Al<sup>13</sup></font></td>
    <td bgcolor="brown"> <font color="black">Sa<sup>14</sup></font></td>
    <td bgcolor="orange"> <font color="black">P<sup>15</sup></font></td>
    <td bgcolor="orange"> <font color="black">S<sup>16</sup></font></td>
    <td bgcolor="white"> <font color="green">Cl<sup>17</sup></font></td>
    <td bgcolor="lightskyblue"> <font color="green">Ar<sup>18</sup></font></td>
</tr>
<tr>
    <td bgcolor="lightpink"> <font color="black">K<sup>19</sup></font></td>
    <td bgcolor="lightblue"> <font color="black">Ca<sup>20</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Sc<sup>21</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ti<sup>22</sup></font></td>
    <td bgcolor="yellow"> <font color="black">V<sup>23</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Cr<sup>24</sup></font></td>
\   <td bgcolor="yellow"> <font color="black">Mn<sup>25</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Fe<sup>26</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Co<sup>27</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ni<sup>28</sup></font></td>
    <td bgcolor="yellow"> <font color="black">cu<sup>29</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Zn<sup>30</sup></font></td>
    <td bgcolor="lightgreen"> <font color="blue">Ga<sup>31</sup></font></td>
    <td bgcolor="brown"> <font color="black">Ge<sup>32</sup></font></td>
    <td bgcolor="brown"> <font color="black">As<sup>33</sup></font></td>
    <td bgcolor="orange"> <font color="black">Se<sup>34</sup></font></td>
    <td bgcolor="white"> <font color="blue">Br<sup>35</sup></font></td>
    <td bgcolor="lightskyblue"> <font color="green">Kr<sup>36</sup></font></td>
</tr>
        <tr>   
    <td bgcolor="lightpink"> <font color="black">Rb<sup>37</sup></font></td>
    <td bgcolor="lightblue"> <font color="black">Sr<sup>38</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Y<sup>39</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Zr<sup>40</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Nb<sup>41</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Mo<sup>42</sup></font></td>
\   <td bgcolor="yellow"> <font color="black">Tc<sup>43</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ru<sup>44</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Rh<sup>45</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Pd<sup>46</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ag<sup>47</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Cd<sup>48</sup></font></td>
    <td bgcolor="lightgreen"> <font color="blue">In<sup>49</sup></font></td>
    <td bgcolor="lightgreen"> <font color="black">SN<sup>50</sup></font></td>
    <td bgcolor="brown"> <font color="black">Sb<sup>51</sup></font></td>
    <td bgcolor="brown"> <font color="black">Te<sup>52</sup></font></td>
    <td bgcolor="white"> <font color="purple">l<sup>53</sup></font></td>
    <td bgcolor="lightskyblue"> <font color="green">Xe<sup>54</sup></font></td>
            </tr>

            <tr>
    <td bgcolor="lightpink"> <font color="purple">Cs<sup>55</sup></font></td>
    <td bgcolor="lightblue"> <font color="black">Ba<sup>56</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">57-71</font></td>
    <td bgcolor="yellow"> <font color="black">Hf<sup>71</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ta<sup>73</sup></font></td>
    <td bgcolor="yellow"> <font color="black">W<sup>74</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Re<sup>75</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Os<sup>76</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Ir<sup>77</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Pt<sup>78</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Au<sup>79</sup></font></td>
    <td bgcolor="yellow"> <font color="black">Hg<sup>80</sup></font></td>
    <td bgcolor="lightgreen"> <font color="black">Tl<sup>81</sup></font></td>
    <td bgcolor="lightgreen"> <font color="black">Pb<sup>82</sup></font></td>
    <td bgcolor="lightgreen"> <font color="black">Bi<sup>83</sup></font></td>
    <td bgcolor="orange"> <font color="black">Po<sup>84</sup></font></td>
    <td bgcolor="white"> <font color="black">At<sup>85</sup></font></td>
    <td bgcolor="lightskyblue"> <font color="green">Ra<sup>86</sup></font></td>
                <tr>
    <td bgcolor="lightpink"> <font color="purple">Fr<sup>87</sup></font></td>
    <td bgcolor="lightblue"> <font color="black">Ra<sup>88</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">89-103</font></td>
   <td bgcolor="yellow"> <font color="red">Rf<sup>104</sup></font></td>
   <td bgcolor="yellow"> <font color="red">Db<sup>105</sup></font></td>
   <td bgcolor="yellow"> <font color="red">Sg<sup>106</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Bb<sup>107</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Ha<sup>108</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Mt<sup>109</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Ds<sup>110</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Rg<sup>111</sup></font></td>
    <td bgcolor="yellow"> <font color="red">Ca<sup>112</sup></font></td>
    <td bgcolor="white"> <font color="red">Mb<sup>113</sup></font></td>
    <td bgcolor="white"> <font color="red">Fl<sup>114</sup></font></td>
    <td bgcolor="white"> <font color="red">Mc<sup>115</sup></font></td>
    <td bgcolor="white"> <font color="red">Lv<sup>116</sup></font></td>
    <td bgcolor="white"> <font color="red">Ts<sup>117</sup></font></td>
    <td bgcolor="white"> <font color="red"">Og<sup>118</sup></font></td>
        </tr>
  </table>
  <br>
  <table>
    <tr>
        <td bgcolor="lightpink"> <font color="black">La<sup>57</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Ce<sup>58</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Pr<sup>59</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Nd<sup>60</sup></font></td>
        <td bgcolor="lightpink"> <font color="red">Pm<sup>61</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Sm<sup>62</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Eo<sup>63</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Gd<sup>64</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Tb<sup>65</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Dy<sup>66</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Ho<sup>67</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Er<sup>68</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Tm<sup>69</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Yb<sup>70</sup></font></td>
    <td bgcolor="lightpink"> <font color="black">Lo<sup>71</sup></font></td>
  </tr>
    <tr>
        <td bgcolor="lightpink"> <font color="black">Ac<sup>89</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Th<sup>90</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">Pa<sup>91</sup></font></td>
        <td bgcolor="lightpink"> <font color="black">U<sup>92</sup></font></td>
        <td bgcolor="lightpink"> <font color="red">Np<sup>93</sup></font></td>
        <td bgcolor="lightpink"> <font color="red">Pu<sup>94</sup></font></td>
        <td bgcolor="lightpink"> <font color="red">Am<sup>95</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Cm<sup>96</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Bk<sup>97</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Cf<sup>98</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Es<sup>99</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Fm<sup>100</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Md<sup>101</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">No<sup>102</sup></font></td>
    <td bgcolor="lightpink"> <font color="red">Lr<sup>103</sup></font></td>
  
        </tr>
  </table>
</center>
    </body>
</html>