<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <foam>
        <p>
            Name:
            <input type="text"placeholder=" input  your name" size="20px">
             </p>
             <p>
                conatct:
                <input type="number"size="20" maxlength="11">
             </p>
             <p>
                Date of birth
                <input type="text"placeholder="inter your date of birth">
             </p>
             <p>
                Password:
                <input type="text"placeholder=" input  your password" size="20px">
                 </p>
                 <p>
                    what did you think of this gig.
                    <textarea name="" id="" cols="30" rows="10"placeholder="comments"></textarea>   
                </p>
                <p>
                    please select your favorite gerne:
                    <input type="radio" name="gerne"value="rock">
                    rock:
                    <input type="radio" name="gerne"value="pop">
                    pop:
                    <input type="radio" name="gerne"value="jazz">
                    jazz:
                </p>
                select your Gender:
                <input type="checkbox"name="gerne"value="Male">
                Male:
                <input type="checkbox"name="gerne"value="Female">
                Female:



    </foam>
</body>
</html>