<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dl>
        <ol>
            <li> <dt> <h2 id="head01">defination of chamestry </h2></dt>
                <dd> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus necessitatibus distinctio, praesentium porro maiores a fuga esse ut totam vitae?</dd></li>
                <li><dt> <h3>defination of physics </h3></dt>
                    <dd> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus necessitatibus distinctio, praesentium porro maiores a fuga esse ut totam vitae?</dd></li>
             </ol>
       </dl>
       <a href=""></a>
       <ul>
       <li><a href="home.html">home</a></li>
       <li><a href="about.html">about</a></li>
       <li><a href="../hameed khan/index.html">index</a></li>
       <li><a href="mailto:hk205721@gmail.com">hameed khan</a></li>
    </ul>
    <a href="#head01">go to top</a>
    <img src="" alt="">
    
    
</body>
</html>